{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <div class="wrapper-form">
                    <form v-on:submit.prevent="submitOink()">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" v-model="body" placeholder="What are you oinking?"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="wrapper-oinks">
                    <div class="oink" v-for="oink in oinks">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img :src="oink.avatar">
                                </p>
                            </figure>

                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>[[ oink.oinker ]]</strong>
                                        <small>[[ oink.created_at ]]</small>
                                        <br>
                                        [[ oink.body ]]
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    {% for oink in oinks %}
                        <div class="oink">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        {% if oink.created_by.oinkerprofile.avatar %}
                                            <img src="{{ oink.created_by.oinkerprofile.avatar.url }}">
                                        {% endif %}
                                    </p>
                                </figure>

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><a href="{% url 'oinkerprofile' oink.created_by.username %}">{{ oink.created_by.username }}</a></strong>
                                            <small>{{ oink.created_at|naturaltime }}</small>
                                            <br>
                                            {{ oink.body }}
                                            <br>
                                            <a @click="likeOink({{ oink.id}})" v-if="!liked_oinks.includes({{ oink.id }})">Like</a>
                                            <span v-if="liked_oinks.includes({{ oink.id }})">Liked</span>
                                            <small id="likes-{{ oink.id }}">{{ oink.likes.count }} likes</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#feedapp',
        delimiters: ['[[', ']]'],
        data () {
            return {
                oinks: [],
                body: '',
                oinker: '{{ request.user.username }}',
                created_at: 'Now',
                avatar: '{% if request.user.oinkerprofile.avatar %}{{ request.user.oinkerprofile.avatar.url }}{% endif %}',
                liked_oinks: [{% for oink in oinks %}{% if oink.liked %}{{ oink.id }},{% endif %}{% endfor %}]
            }
        },
        methods: {
            likeOink(oink_id) {
                this.liked_oinks.push(parseInt(oink_id));

                var oink = {
                    'oink_id': oink_id
                };

                fetch('/api/add_like/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(oink)
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });

                const el = document.getElementById('likes-' + oink_id);
                const likes = parseInt(el.innerHTML.split(' ')[0] + 1);
                el.innerHTML = likes + ' likes';  
            },
            submitOink() {
                console.log('submitOink');

                if (this.body.length > 0) {
                    var oink = {
                        'body': this.body,
                        'oinker': this.oinker,
                        'created_at': this.created_at,
                        'avatar': this.avatar
                    };

                    this.oinks.unshift(oink);

                    // Send to backend

                    fetch('/api/add_oink/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(oink)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                }

                this.body = '';
            }
        }
    })
</script>
{% endblock %}